* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: "Roboto", "Verdana", sans-serif;
}

main {
  padding: 0;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

#installContainer {
  text-align: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  font-size: 1em;
  padding: 6px;
}

.social .embeds {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  width: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 560px) {
  .social .embeds {
    flex-direction: column;
  }
}
